/* styles.css */


body {
    font-family: 'lato', sans-serif;
    margin: 0;
    padding: 0;
}
    
  
  header {
    background-color: #972121;
    color: rgba(255, 255, 255, 0.084);
    padding: 10px 0;
    align-items:center;
  }
  
  .navbar {
     padding: 0;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }
  
  .navbar li {
    display: inline-flex;
    margin: 0 20px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    
  }
  
  .navbar a:hover {
    text-decoration: underline;
    color: yellowgreen;
  }
   
  .section {
    padding: 30px;
    text-align:left;
    color: rgb(15, 14, 14);
    justify-items:left;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(pexels-leeloothefirst-4545092.jpg);
    background-position:right;
    
  }

   .section h1{
    font-size:36px;
   margin:auto;
    color:rgb(169, 34, 34);
    }
    

   .section h2{
    font-style: italic;
    color: #972121;
    text-align: center;
    
    
   }
   .section p {
    color:black;
    background-color:rgb(227, 130, 162);
  text-align:center;
  margin-bottom: 50px;

 }
  
   
   .service h2 {
   text-align:center;
   color: aliceblue;
   background-color:goldenrod;
   font-style: normal;
   }
  

   .section li {
  color:black;
   }

  .section ul :hover {
    text-decoration:underline;
    color:yellowgreen;

   }
   .section iframe {
    width: 100;
    margin-bottom: 15px;
    margin-top: 15px;
    height: 400px;

   }

   .photoservice img{
    width:100px;
    height:auto;
    object-fit:cover;
    border-style: groove;
    border-radius: 2px;
    border-color: #d5b8b8;
     }

 .photoservice {
  display: flex;
  justify-content:center;
  flex-wrap:wrap;
  gap: 25px;

 }

footer {
    background-color: #4f0707;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  footer a {
    color: #00aced;
    text-decoration: none;
    font-size: 16px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
   
    <!--gallery page>
table {
  width: 80%;
  border-collapse:collapse;
  margin: 20px 0;
  font-family: 'Lato', sans-serif;
box-shadow:black;
}
th  {
  background-color:rgb(238, 206, 21);
  padding: 5px;
}
tr:hover{
background-color: rgb(174, 215, 27);
  
}
.two {
  background-color: rgb(231, 197, 156);
  padding: 20px;
  text-align: center;

}
.two h1 {
  margin-bottom: 10px;
  

} 

.two p {
  font-size:medium;
  margin-bottom: 2px;
}
.clientfeedback {
  display:flex;
  flex-direction:row;
  gap: 2rem;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content:center;
  
}
.stories img {
 border-style:groove;
 border-radius:250px;
 margin-bottom: 10px;
 margin-top: 2px;
 width: 80%;
 height: auto;
}

.stories {
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  width: 30%;
  

}

.stories p{
  font-size: 1rem;
  margin: auto;
  background-color:aliceblue;
  padding: 10px;
  
}

.stories h2 {
  font-size:medium;
  margin: 0;
  color: #333;
  font-style:italic;
  
}

  .founder img {
    width:100;
       max-width: 300px;
       height: 200px;    
       display:flex;
       margin: 20px;
       
  } 
  .founder {
    display:flex;
   flex-direction: column;
   
  

  } 
  h1 {
    background-color:goldenrod;
    text-align: center;
  }
    

    
    

  