/* styles.css */


body {
    font-family: 'lato', sans-serif;
    margin: 0;
    padding: 0;
}
    
  
  header {
    background-color: #972121;
    color: rgba(255, 255, 255, 0.084);
    padding: 10px 0;
    align-items:center
  }
  
  .navbar {
    list-style: none;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }
  
  .navbar li {
    display: inline-flex;
    margin: 0 20px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    
  }
  
  .navbar a:hover {
    text-decoration: underline;
    color: yellowgreen;
  }
  
  .section {
    padding: 40px;
    text-align: left;
    color: rgb(15, 14, 14);
    background-image: url("bride\ H.jpeg");
    background-position:center;
    background-repeat: no-repeat;
  
  
  }
   .section h1{
    font-size: x-large;
    text-align: left;
    color: rgb(230, 221, 219);
    
    
   }
   .section p {
    color: aliceblue;
   }

   .service h2 {
   text-align:center;
   }

  

  footer {
    background-color: #4f0707;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  footer a {
    color: #00aced;
    text-decoration: none;
    font-size: 16px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
    .photoservice img{
       width:100;
       max-width: 300px;
       height: 200px;
       border-radius:80px;
       object-fit: cover;
       display:inline-table;
       justify-content:left;
       flex-wrap:wrap-reverse;
       padding: 1rem 
    }
table {
  width: 80%;
  border-collapse:collapse;
  margin: 20px 0;
  font-family: 'Lato', sans-serif;
  background-color:pink;
  box-shadow:black;
}
th {
  background-color:rgb(238, 206, 21);
  padding: 5px;


}
tr:hover{
background-color: rgb(174, 215, 27);
  
}
.two {
  background-color: bisque;
  padding: 20px;

}
.stories img {
 border-style:groove;
 border-radius:100px;
 margin-bottom: 2px;
 margin-top: 2px;
 width: 40%;
 height: 300px;
 object-fit: cover;
 display:flex;
 justify-content:center;
 flex-wrap:wrap-reverse;
 padding: 1rem 
}

.stories {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.stories p{
  font-size: 1rem;
  margin: auto;
  flex:1;
  background-color:aliceblue;
  text-align:center;
  padding: 10px;

  

}
.stories h2 {
  text-align:right;
  font-size:medium;
  margin: 0;
  color: #333;
  font-style:italic ;
}

.clientfeedback {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
  .founder img {
    width:100;
       max-width: 300px;
       height: 200px;
       border-radius:80px;
       object-fit: cover;
       display:block;
       margin: 20px;
  }  
  h1 {
    background-color:goldenrod;
    text-align: center;
  }
    

    
    

  