/* styles.css */


body {
    font-family: 'lato', sans-serif;
    margin: 0;
    padding: 0;
}
    
  
  header {
    background-color: #972121;
    color: rgba(255, 255, 255, 0.084);
    padding: 10px 0;
    align-items:center
  }
  
  .navbar {
    list-style: none;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }
  
  .navbar li {
    display: inline-flex;
    margin: 0 20px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    
  }
  
  .navbar a:hover {
    text-decoration: underline;
    color: yellowgreen;
  }
  
  .section {
    padding: 40px;
    text-align: left;
    color: rgb(15, 14, 14);
    background-image: url("bride\ H.jpeg");
    background-position:center;
  
  
  }
   .section h1{
    font-size: x-large;
    text-align: left;
    color: rgb(230, 221, 219);
    
    
   }
   .section p {
    color: aliceblue;
   }

   .service h2 {
   text-align:center;
   }

  .service li{

  }

  footer {
    background-color: #4f0707;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  footer a {
    color: #00aced;
    text-decoration: none;
    font-size: 16px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
    .photoservice img{
       width:100;
       max-width: 300px;
       height: 200px;
       border-radius:30px;
       object-fit: cover;
       display:inline-table;
       justify-content:left;
       flex-wrap:wrap-reverse;
       padding: 1rem
       

    }
    


    }
    

    
    

    
    

  